@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;

    --primary: 45 100% 48%;
    --primary-foreground: 0 0% 2%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 5%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 92%;
    --input: 0 0% 85%;
    --ring: 0 0% 76%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 60 3% 6%;
    --foreground: 0 0% 98%;

    --card: 60 6% 7%;
    --card-foreground: 0 0% 98%;

    --popover: 60 6% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 45 100% 48%;
    --primary-foreground: 0 0% 2%;

    --secondary: 45 5% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 40 5% 22%;
    --muted-foreground: 45 5% 49%;

    --accent: 45 45% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 40 5% 12%;
    --input: 45 4% 18%;
    --ring: 45 100% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
